.parent {
    display: flex;
    margin-top: 0px;
    margin-left: 420px;
}
.child {
    width: 150px;
    height: 200px;
    padding-left: 10px;
    margin-right: 55px;
    border: 1px solid #E80000;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 10px 10px lightgrey;
}
.p_index_body_style2{
    color:red;

}
.a_index_body_style {
    text-decoration: none;
    color:#F00000;
    
}
.i_index2_style {
    font-size:30px;
    color:#F00000;
    margin-left: 240px;
    margin-top: 70px;
}
.child_index2 {
    width:280px; 
    height:240px;
    padding-left: 14px;
    margin-right: 55px;
    border: 1px solid #E80000;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 10px 10px lightgrey;
}
.p_second_index_style  {
    margin-left: 5px;
    font-weight: bold;
    font-size:30px;
    display: inline-block;
    margin-top :175px;  
    font-family: 'Poiret One';
}
.p_index_body_style{
    color:#F00000;
    font-family:'Poiret One';
    font-size: 24px;
    margin-top:10px;
}
.a_index_style {
    font-family:'Poiret One';
    font-size: 25px;
    margin-top: 180px;
    margin-left: 5px;
    color: grey;
    text-decoration: none;
}
.i_index_plus_style {
    font-size:35px;
    color:#F00000;
    margin-left: 300px;
    margin-top: 175px;
}
.h1_index_style {
    font-size:38px;
    margin-left: 420px;
    display: inline-block;
    margin-top :160px;  
}
.p_index_style {
    color:black;
    margin-left: 10px;
    font-weight: lighter;
    font-size:34px;
    display: inline-block;
    margin-top :160px;  
    font-family: 'Poiret One';
}
.input_style {
    border:1px solid #F00000;
    height:20px;
}
.form_style {
    color:#F00000;
    border: 1px solid #F00000;
    display: inline-block;
    width:450px;
    height: 150px;
    text-align:center;
    margin-top: 100px;
    margin-left: 400px;
    padding-bottom: 30px;
    background-color: white;
   }
   .form_index4_style {
    color:#F00000;
    border: 1px solid #F00000;
    display: inline-block;
    width:350px;
    height: 150px;
    text-align:center;
    margin-top: 100px;
    margin-left: 500px;
    padding-bottom: 30px;
    background-color: white;
   }

   .index4_input_style {
    border:1px solid #F00000;
    height:20px;
   }
.button_style {
    background-color: #F00000;
    color:white;
    border-radius: 13px;
    width: 70px;
    height: 30px;
    font-size: large;
    border: 1px solid #F00000;
    padding-bottom: 5px;
}
.p_style {
    color:grey;
    font-size: x-large;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 10px;
}
.a_index2_style {
    color:#F00000;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.i_index2_top_style {
    font-size:34px;
    color:#F00000;
    margin-left:500px;
    margin-bottom: 5px;
    margin-top:4px;
    
}
.p_index2_style {
    color:#F00000;
    font-size: x-large;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.p_index2_style2 {
    color:red;
    font-size: x-large;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.main {
   display: flex;
}

.image {
    background-image: url("./index.png");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    margin-left:200px;
    margin-top: 110px;
   
}