.parent {
    display: flex;
    margin-top: 0px;
    margin-left: 400px;
}
.child {
    width: 170px;
    height: 200px;
    padding-left: 15px;
    margin-right: 55px;
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.form_style {
    color:red;
    border: 1px solid red;
    display: inline-block;
    width:380px;
    height: 180px;
    text-align:center;
    margin-top: 250px;
    margin-left: 420px;
    padding-top:30px;
    padding-bottom: 30px;
    position: relative;
    background-color: white;
   }

.button_style {
    background-color: red;
    color:white;
    border-radius: 13px;
    width: 70px;
    height: 30px;
    font-size: large;
    border: 1px solid red;
    padding-bottom: 5px;
}
.p_style {
    color:grey;
    font-size: x-large;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.main {
   display: flex;
}

.image {
    background-image: url("./index.png");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    margin-left:200px;
    margin-top: 110px;
   
}